* {
	margin: 0px;
	padding: 0px;
	font-family: 'Abel', sans-serif;

}


header {
	background-color : #fff;
	height : 55px;
	padding : 0 12px;
	line-height : 55px;
	border-bottom : 1px  ;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.img {
   position: relative;

}
.brand p {
	display: inline-block;
	height: 30px;
	margin-bottom: 30px;
}


.brand {
	font-size: 24px;
	color: #846C63;
	
	
}
.top-nav {
	float : right;
	
	
	
}

.top-nav li {
	padding-left: 9px;
	padding-right: 9px;
	display: inline-block;
	cursor: pointer;
	font-size: 0.6em;
	color: #88AAA9;
}



a {
	text-decoration: none;
}
.msg {
	display: inline-block;
	height: 25px;
	width : 87px;
	background-color: #0084ff;
	border-radius: 5%;
	margin-left: 14px;
	padding-right: 6px;
	line-height: 18px;
}
.msg p {
	font-size: 0.7em;
	color: #fff;
	height: 50%;

	display: inline-block;
	
	
}


.img2 {
	line-height: 18px;
}
.cotent {
	width: 100%;
	height: 100%;
	background-color: #F6F4F1;
	margin-right: 200px;
	margin-left: 200px;

}
.content-Left {
	float: left;
	width: 700px;
	margin-right:0;
	display: inline-block;
	margin-top: 20px;
}

.content-Right{
	float: left;
	width : 350px;
	display: inline-block;
	margin-top: 20px;
	
}
.Join p {
	margin-top: 5px;
	color: #846C63;
}

.button {
	display: inline-block;
	line-height: 46px;
	height: 46px;
	width : 120px;
	background-color: #88AAA9;
	border-radius: 5%;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	font-size: 0.7em;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.top-nav li:hover {
	background-color: rgb(192, 171, 162);
	padding-left: 9px;
	padding-right: 9px;
	display: inline-block;
	font-size: 0.6em;
	transition: 0.3s;
	color : #fff;
}
.button:hover {
	background-color: #FFBA85;
	transition: 0.3s;

}

.page {
	margin-top : 64px;
	
}



.cotent-Right p {
	display: inline-block;
	height: 40px;
	width : 95px;
	background-color: #0084ff;
	border-radius: 5%;
	color: #fff;
	text-align: center;
	margin-left: 18px;
	line-height: 40px;
	font-size: 1em;
}

.footer-menu {
	width : calc(100% / 5);
	float : left;

}
footer {
  
	display: inline-block;
	padding-top : 20px;
	border-top: 1px ;
    clear: both;
    width: 100%;

    margin-bottom: 100px;
    background-color: rgba(189,177,173,0.1);
    
    margin-bottom: 0;
    margin : 0 auto;
    
    

}

.footer-menu p {
	color: #846C63;
	margin-bottom: 15px;
	margin-top: 15px;
}

.footer-menu ul li {
	list-style-type: none;
	cursor: pointer;
}

.footer-menu li {
	color: #88AAA9;
	font-size: 0.6em;
	margin-top: 5px;
}

.footer-menu h6{
	margin-bottom: 15px;
}



.blog p {
	font-size: 0.5em;
	color: #846C63;
	margin-top: 18px;
	margin-bottom: 5px;
}


.content-Left p {
	font-size: 0.6em;
	color: #846C63;
	margin-left: 10px;
}

.real-bottom {
	font-size: 0.5em;
	display: block;
	float: left;
	width: 100%;
	height: 37px;
	
	vertical-align: center;
	background-color: rgba(51,51,51,0.08);
}

.real-bottom p{
	color: rgba(255,255,255,0.8);
	margin-left: 290px;
	margin-top: 10px;

}
	  
.search {
	content: "/e661"
	border-radius: 100%;
	background-color: #86A8A8;
	position: fixed;
	margin-left: 540px;
	margin-top: 630px;
	display: inline-block;
	cursor: pointer;
	border : 1px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.search :hover {
	background-color: #FFBA85;
	transition: 0.3s;
	height: 45px;
	width: 45px;
	border-radius: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.box-content p {
	color: #88AAA9;
	font-size : 0.4em;
	margin: 0px;
	cursor: pointer;
}

.card {
	border : 1px ;
	width: 350px;
	height: 360px;
	
	margin-bottom: 15px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer;
    background-color:#F6F4F1
}

.card-content {
	margin-top: 9px;
	margin-bottom: 1px;
	margin-left: 15px;

	height: 50px;
	color: #846C63;
	font-size: 0.9em;

}

.box {
	border: 1px ;
	margin: 10px;
	display: inline-block;
	width: 205px;
	height: 240px;
	box-sizing: border-box;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	cursor: pointer;
}

.box-content {
	color: #846C63;
	font-size: 0.8em;
	margin-top: 9px;
	margin-bottom: 1px;
	margin-left: 15px;
}

.search p {
	font-size: 15em;
	color: #fff;
}

